@import "tailwindcss";
body.loading {
  overflow: hidden; 
  background: #ffffff;
}

@keyframes glow {
  0%, 100% {
    box-shadow: 0 0 8px #facc15;
  }
  50% {
    box-shadow: 0 0 16px #fde047;
  }
}
::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;  
  scrollbar-width: none;     
}

.swiper {
  overflow: hidden !important;
}

.swiper::-webkit-scrollbar {
  display: none !important;
}

.swiper {
  -ms-overflow-style: none;
  scrollbar-width: none;
}


.hero-swiper .swiper-pagination-bullet-active {
  background-color: #2563eb !important; 
}

.hero-swiper img {
  transition: transform 0.8s ease;
}

.hero-swiper .swiper-slide-active img {
  transform: scale(1.05);
}
